<div class="flex flex-col lg:flex-row gap-8 sm:gap-24 xl:gap-48 justify-between flex-[2]">
  <div>
    <div class="sm:w-[36rem] mb-8 sm:mb-12 font-light sm:text-lg">
      <%= render 'shared/it1_intro' %>
    </div>
    <% if user_signed_in? %>
      <%= render CardComponent.new do %>
        <h3 class="mb-2 font-display">You are now signed in with your previous GitHub registration.</h3>
        <p class="mb-4 font-light text-sm">
        Click below to link your Discord account.
        </p>
        <%= render LoginButtonComponent.new(provider: :discord, size: :large, class: 'w-full') %>
      <% end %>
    <% else %>
      <div class="mb-8 sm:mb-12">
        <%= render LoginButtonComponent.new(provider: :discord, size: :large, class: 'w-full') %>
      </div>
      <%= render CardComponent.new do %>
        <div class="flex items-center">
          <%= render IconComponent.new(:info, size: :medium) %>
          <h3 class="font-display text-lg">IMPORTANT: We now require all users to sign in with Discord.</h3>
        </div>
        <p class="mb-4 font-light text-sm">
        If you previously signed up with GitHub, click below to preserve your verification status.
        </p>
        <%= render LoginButtonComponent.new(provider: :github, size: :large, class: 'w-full') %>
      <% end %>
    <% end %>
  </div>
</div>
